// Place all the styles related to the Ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new-idea-form {
  display: inline-flex;
  margin-left: 400px;
  width: 500px;

}

#submission-form {
  display: inline-flex;
  margin-left: 400px;
  width: 500px;

}

#idea_description {
  margin-top: 10px;
  width: 300px;
  height: 100px;

}

#ideas-list {
  width: 500px;
  margin-left: 400px;
}

#specific-idea {
  width: 500px;
  margin-left: 400px;
}
